body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100vh;
}

a {
  list-style: none;
  color: black;
}

button,
select {
  padding: 5px 10px;
  min-width: 50px;
  margin: 5px;
  font-size: 18px;
}
.start-button{
  background-color: #4169E1;
  cursor: pointer;
  border-radius: 10px;
  color: #fff;
  border: 3px solid black;
}
  .start-button:hover {
    background-color: black;
    color: whitesmoke;
    border: 3px solid #4169E1;
    margin: 0px;

  }

.nav-buttons{
  color: white;
  background-color: black;
  border-radius: 10px;
  border: 3px solid white;
}
.nav-buttons:hover{
  background-color: black;
  color: #4169E1;
  border: 3px solid #4169E1;
}

label {
  width: 200px;
  display: block;
}

input,
textarea {
  width: 200px;
  padding: 10px;
  display: inline-block;
  margin: 10px;
}

nav {
  background: #4169e1;
  color: white;
  padding: 0px 20px;
  box-shadow: 5px 5px 5px gray;
  width: 100%;
  margin-bottom: 15px;
  padding: 5px;
  border: 3px solid black;
  border-radius: 10px;

}

nav li {
  list-style: none;
  color: white;
  font-size: 24px;
  font-weight: 600;
}

.card {
  width: 400px;
  padding: 10px;
  box-shadow: 0px 2px 3px grey;
  margin: 0 auto;
  margin-bottom: 20px;
  background: white;
  color: black;
  border-radius: 4px;
  border: 5px solid #4169E1;
}

.JourneyCard h3::after {
  content: url("https://education-team-2020.s3.eu-west-1.amazonaws.com/web-dev/m3/icon-expand.png");
  margin-left: 5px;  
  color: white;
}

.EditJourneyPage,
.AddJourney,
.AddTask,
.SignupPage,
.LoginPage {
  background: #f9eec3;
  border: 5px solid black;
  box-shadow: 0px 2px 3px grey;
  width: 400px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  color:white;
  background-color: #4169E1;
  border-radius: 10px;
}

.EditJourneyPage {
  background-color: #4169E1;
}

.SignupPage,
.LoginPage {
  background-color: #4169E1;
}

.LoginPage {
  background-color: #4169E1;
}

.EditJourneyPage form,
.AddTask form,
.AddJourney form,
.SignupPage form,
.LoginPage form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AddTask button,
.AddJourney button {
  display: flex;
}

.TaskCard {
  background-color:white;
  border: 5px solid #4169E1;
  border-radius: 10px;
  color: black;
}
.button-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
}

.visa-button {
  background-color: #007bff;
  color: #fff;
  border: 5px solid black;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
}

.visa-button:hover {
  background-color: #0056b3;
}
.visa-options-container {
  text-align: center;
  margin: auto;
  max-width: 600px;
  padding-top: 0px;
}

.visa-option-button {
  background-color: #4169E1;
  color: #fff;
  border: 3px solid black;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 0px;
}

.visa-option-button:hover {
  background-color: black;
  color: whitesmoke;
  border: 3px solid #4169E1;
  margin: -3px;

}

.current-button{
  background-color: #4169E1;
  cursor: pointer;
  border-radius: 10px;
  color: #fff;
  border: 3px solid black;
}
.current-button:hover{
  background-color: black;
  color: whitesmoke;
  border: 3px solid #4169E1;
}

.visa-buttons {
  display: flex;
  justify-content: center;

}
.berlin-germany {
  width: 100%;
  height: 500px;
}
.map {
  width: 100vh;
  height: 60vh;
}
.pak-jobseeker-visa, .pak-study-visa, .pak-family-reunion-visa, .pak-work-visa {
  text-align: left;
}
.ind-jobseeker-visa, .ind-study-visa, .ind-family-reunion-visa, .ind-work-visa {
  text-align: left;
}
.sriLanka-jobseeker-visa, .sriLanka-study-visa, .sriLanka-family-reunion-visa, .sriLanka-work-visa {
  text-align: left;
}
.usa-study-visa, .usa-family-reunion-visa, .usa-work-visa{
  text-align: left;
}
 .aus-study-visa, .aus-family-reunion-visa, .aus-work-visa{
  text-align: left;
}
.ger-jobseeker-visa, .ger-study-visa,  .ger-family-reunion-visa, .ger-work-visa{
  text-align: left;
}
.new-delhi, .new-york, .colombo, .perth, .islamabad, .kiel{
  width: 600px;
  height: auto;
  padding-top: 0px;
}
.germany-usa, .germany-Australia{
  width: 800px;
  height: auto;
}
.the-world{
  width: 1100px;
  height: 530px;
}
.JourneyListPage{
  background-image: url()
}
.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-container button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-container button[type="submit"]:hover {
  background-color: #0056b3;
}
.back-to-journeys{
  background-color: #4169E1;
  cursor: pointer;
  border-radius: 10px;
  color: #fff;
  border: 3px solid black;
}
.back-to-journeys:hover{
  background-color: black;
  color: whitesmoke;
  border: 3px solid #4169E1;
  margin: 0px;
}
.edit-journey{
  background-color: #4169E1;
  cursor: pointer;
  border-radius: 10px;
  color: #fff;
  border: 3px solid black;
}
.edit-journey:hover{
  background-color: black;
  color: whitesmoke;
  border: 3px solid #4169E1;
  margin: 0px;
}
.delete-journey{
  color: white;
  background-color: black;
  border-radius: 10px;
  border: 3px solid white;
}
.delete-journey:hover{
  background-color: black;
  color: #4169E1;
  border: 3px solid #4169E1;
}
.login{
  color: white;
  background-color: black;
  border-radius: 10px;
  border: 3px solid white;
}
.login:hover{
  background-color: black;
  color: #4169E1;
  border: 3px solid #4169E1;
}
.signup{
  color: white;
  background-color: black;
  border-radius: 10px;
  border: 3px solid white;
}
.signup:hover{
  color: white;
  background-color: black;
  border-radius: 10px;
  border: 3px solid white;
}
.submit-btn{
  color: white;
  background-color: black;
  border-radius: 10px;
  border: 3px solid white;
}
.submit-btn:hover{
  color: white;
  background-color: black;
  border-radius: 10px;
  border: 3px solid white;
}
.add-task{
  color: white;
  background-color: black;
  border-radius: 10px;
  border: 3px solid white;
}
.add-task:hover{
  color: white;
  background-color: black;
  border-radius: 10px;
  border: 3px solid white;
}
.ProfileContentWrapper {
  display: flex;
  flex-direction: column;
justify-content:center;  
  align-items: center;
  background-color: #4169E1;
  border: 3px solid black;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  max-width: 400px; 
  height: 200px;
  margin: 0 auto; 
  padding: 80px;
  margin-top: 160px;
}

.Greeting {
  font-size: 1,4rem;
  margin-top: 70px;
  color: black}

.ProfileContentWrapper p {
  margin: 0 0 10px;
}

.ProfileContentWrapper a {
  text-decoration: none;
  color: white;
  margin-right: 10px;
}

.ProfileContentWrapper button {
  background-color: #4169E1;
  color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  border: 3px solid white;

}

.ProfileContentWrapper button:hover {
  background-color: #c82333;
}
/* .ProfileWrapper{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  width: 600px;  
} */
.edit-profile-link{
  color: white;
  background-color: #4169E1;
  border-radius: 10px;
}

.edit-profile-link:hover{
  background-color: black;

}
.further-info{
  background-color: #4169E1;
  border-radius: 10px;
  color: white;
  padding: 4px;
}
.here-btn{
  color: white;
  font-style: oblique;
  font-weight: bolder;
}
.additional-info{
  border: 3px solid #4169E1;
  border-radius: 10px;
  background-color:black;
  color: white;
  padding: 7px;
}
.please-note{
  color: red;
  font-weight: bold;
}
.data-profile{
  font-size: 18px;
  color:white;
  font-weight: bolder;
  padding-bottom: 20px;;
}
.title-input{
  border: 3px solid black;
  border-radius: 10px;
}
.text-description{
  border: 3px solid black;
  border-radius: 10px;
}
.submit-update{
  color: white;
  background-color: black;
  border-radius: 10px;
  border: 3px solid white;
  font-size: 18px;
}